#app-navigation li > a {
	line-height: 22px;
}

#app-navigation li > a > h3 {
	font-weight: bold;
}

#issues {
	width: 100%; height: 100%
}

#issues tr {
	height: 50px;
}

#issues tr > td {
	padding: 5px;
}

.title {
	font-weight: bold;
	white-space: nowrap;
}

#issues .title, #issue .title {
	overflow: hidden;
	width: 30em;
	text-overflow: ellipsis;
}

.number {
	font-weight: bold;
	color: gray;
	float: right;
}

pre.body {
	white-space: pre-wrap;
}

.state {
	color: white;
	border-radius: 3px;
	padding: 3px;
}

.state.open {
	background-color: green;
}

.state.closed {
	background-color: red;
}

#issue {
	width: 95%; height: 100%;
	z-index: 2;
	margin: 10px;
}

#issue header {
	font-size: 120%;
}

#issue header, #issue footer {
	width: 100%; height: 44px;
}

#issue .body pre {
	max-width: 900px;
	overflow-x: auto;
}

#issue .body h3 {
	font-size: 110%;
	font-weight: bold;
}

#issue .body ul, #issue .body ol {
    list-style-position: outside;
    list-style-image: none;
	margin: 10px 20px;
}

#issue .body ul > li, #issue .body ol > li {
	margin-left: 10px;
}

#issue .body ul {
	list-style-type: disc;
}

#issue .body ol {
	list-style-type: decimal;
}


#issue a:not(.number) {
    color: #4183C4;
    text-decoration: none;
}

#issue a:hover {
    text-decoration: underline;
}